*{
    padding: 0;
    margin: 0;
}

   .bodyhome {
    background-image: url(images/dog-licking.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-color: tan;
}

body {
    background-color: crimson;
}

img {
    opacity: .8;
}


nav {
    height: 50px;
    color: maroon;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-family: "caveat", cursive;
}

.navcontainer {
    display: flex;
    justify-content: center;
}

a:link {
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 8px;
}

a:hover {
    color:crimson;
}

a:visited {
    color: lightgray;
}

h1 {
    color: white;
    text-align: center;
    font-size: 135px;
    font-family: "caveat", cursive;
    font-weight: bold;
    text-shadow: 5px 5px maroon;
    padding-left: 100px;
    padding-bottom: 15px;
    
    
    
}

.motto {
    color: white;
    font-weight: bold;
    text-shadow: 5px 5px maroon;
    font-size: 60px;
    font-family: "caveat", cursive;
    padding-left: 25px;
    padding-top: 60px;
}

footer {
    position: sticky;
    bottom: 0;
    margin: auto;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 325px;
    font-family: "caveat", cursive;
}

.title {
    color: black;
    font-weight: bold;
    text-align: center;
}

.contact {
    color: black;
    font-weight: bold;
}

